<!DOCTYPE html>
<html>
<head>
	<title>Placement Cell-Interview List</title>
	<style>
		body{
	margin: 0;
	padding: 0;
	/* display: flex;
	justify-content: center; */
	align-items: center; 
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}
.main{
	width: 700px;
	height: 1000px;
	background: red;
	/* overflow: hidden; */
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
	/* box-shadow: 5px 20px 50px #000; */
}
/*.login{
	position: relative;
	width:100%;
	height: 100%;
}*/
label{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	padding-left:50%;
	margin-top: 40px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
} 
/* input{
	width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
} */
/* button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
button:hover{
	background: #6d44b8;
} */
ul#navbar {
    display:block;
    background-color:rgb(240, 12, 12);
	margin:0;
	padding:20px;
}
ul#navbar li {
    display:inline;
	margin:10px;
	padding:10px;
	font-weight: bold;
}
ul#navbar li a{
	text-decoration: none;
	color:white
}
dt{
	color:white;
}
b{
	color:aliceblue;
}
dd{
	font-weight: bold;
}


</style>
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
	<ul id="navbar">
        <li><a href="/students/addStudent">Add Student</a></li>
        <li><a href="/students/list">Students List</a></li>
        <li><a href="/interviews/scheduleInterview">Schedule Interview</a></li>
    </ul>
<!--If inerview records are available -->
<%if(interviewsList){%>
	<div class="main">
	<label for="chk" aria-hidden="true" style="padding-left:60%">List of Interviews</label>
	<br><br>
	<div style="color:red;padding-left:50%;">
		<%interviewsList.forEach((interview)=>{%>
				<dl class="dl-horizontal">
					<dt>Company</dt><dd><%=interview.company%></dd>
					<dt>Interview Date</dt><dd><%=interview.interviewDate%> (dd/mm/yyyy)</dd>
					<a href="/interviews/studentDetails?company=<%=interview.company%>&interviewDate=<%=interview.interviewDate%>" style="font-weight: bold;text-decoration:underline; color:aliceblue;padding-left:20%;">List of students applied for this interview</a>
					<br><br><br><br>	
					<%})%>
					
				</dl>
				
	</div>
</div>
<%}else{%>
	<!--If student records are not available-->
	<h1 style="color:red;display:block;padding-left:30%;padding-top: 20%;">NO INTERVIEWS SCHEDULED</h1>
	<!-- <div><a href="/interviews/scheduleInterview">Schedule Interview</a></div> -->
<%}%>
</body>
</html>